
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::Layout(~{::section})">
   <head>
      <meta charset="UTF-8" />
      <title>ABOUT PAGE</title>
   
   </head>
   <body>
   <section>
     <div class="container">
         <div class="card">
            <div class="card-body">
            <div class="container text-center">
            <img src="" Style="height: 310px; width:1054px;" class="my_profileImg1"  th:src="@{'/img/contact_logo.png'}" alt="profile photo"/>
            
            </div>
            <h1 class="text-bold mt-2 text-dark font-italic">
              Start Adding Your Contacts on cloud.....
            </h1>
            <div class="container mt-3">
            <a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase">Add New Contact</a>
            <hr/>
            
            <h3 class="my-1">Donate Us</h3>
             <p> Donating groceries can help end the hunger of poor and needy people.
                 They cannot even afford a single time meal for themselves and their family, 
                 so donating food will make their stomach fill and stay healthy.</p>
            <input id="payment_field" type=="text" class="form-control my-2" placeholder="Enter amount here.." />
            <div class= "container  my-3">
              <button onclick="paymentStart()" class="btn btn-success ">PAY</button>
            </div>
           
            <div class="container text-center">
            <img src="" Style="height: 310px; width:1054px;" class="my_profileImg1"  th:src="@{'/img/donate.jpg'}" alt="profile photo"/>
            
            </div>
            
            <hr/>
            <section >
   <div class="container">
  <div class=" row row-cols-1 row-cols-md-3 g-4 mt-2">
  <div class="col">
    <div class="card h-100 ">
      <img src="../Img/12232.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Recently, social media has become one of the most fantastical ways a person can help the world’s poor (among other ventures). This is perhaps the easiest way to help, as well. Many Congressional leaders (your members of Congress) have Facebook pages, Twitters, or websites. All you need to do is either post on their pages to bring up the idea of helping the world’s poor, or post on your own about the various issues. Also, you can easily follow many different organizations, including The Borgen Project, and retweet them or post about them on Facebook or other websites..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../Img/gyh.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Another one of the ways to help the world’s poor is fundraising. Contact people about various organizations to donate to, or use sites like Crowd Rise to start a campaign. You can also run marathons or accomplish other feats as a way to raise money, as long as you ask people to be your sponsor. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../Img/gyvgy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</div>      
 </section>
 <section >
   <div class="container">
  <div class=" row row-cols-1 row-cols-md-3 g-4 mt-2">
  <div class="col">
    <div class="card h-100">
      <img src="../Img/hgghgbh.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../Img/fggv.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../Img/ghvb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</div>      
 </section>
 <section >
   <div class="container">
  <div class=" row row-cols-1 row-cols-md-3 g-4 mt-2">
  <div class="col">
    <div class="card h-100">
      <img src="../Img/ghxd.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../Img/qwer.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img  src="../Img/54453.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</div>      
 </section>
                    
            </div>
         </div>
       </div>
       
       <script>
       $(document).ready(()=>{
	         $(".item").removeClass("active");
	         $("#home-link").addClass("active");

   });
       </script>
       
       <script>
       function paymentStart() {
	    console.log("payment start...");
	      let amount=$("#payment_field").val();
	      console.log(amount);
	      if(amount == '' || amount == null )
	      {
		    //alert("amount is required !! ");
		   swal("Failed !!", "Ooops !! amount is required !!", "error");

		    return;
		  }
	         //code...
	         //request to server  to create order using ajax
	         $.ajax({
		       url:"/user/create_order",
		       data: JSON.stringify({ amount: amount, info: "order_request"}),
		       contentType: "application/json",
		       type: "POST",
		       dataType: "json",
		       success: function (response) {
			   //invoked when success
			   console.log(response);
			   if(response.status == "created") {
				  
				  // now open payment form
				  let options = {
					key: "rzp_test_I3ZIdivcRRZKWF",
					amount: response.amount,
					currency: "INR",
					name: "SmartC-M",
					description: "Donation",
					image: "",
					order_id: response.id,
					handler:function(response){
						console.log(response.razorpay_payment_id);
						console.log(response.razorpay_order_id);
						console.log(response.razorpay_signature);
						console.log('payment successful !!');
						swal("Good job", "Congrates !! Payment Successful !!", "success");
					
					},
					prefill: {
						name: "",
						email: "",
						contacts: "",
					},
					notes: {
						address : "SmartC-M ",
					},
					them: {
						color: "#3399cc",
					},
				};
				//initiate payment 
				
				let rzp = new Razorpay(options);
				
				rzp.on("payment.failed", function(response){
					console.log(response.error.code);
					console.log(response.error.description);
					console.log(response.error.source);
					console.log(response.error.step);
					console.log(response.error.reason);
					console.log(response.error.metadata.order_id);
					console.log(response.error.metadata.payment_id);
					
					//alert("Ooops !! Payment failed !!");
					swal("Failed !!", "Ooops !! Payment failed !!", "error");

				});
				rzp.open();  
			}
		},
		error: function (error) {
			//invoked when error
			console.log(error);
			alert("Something went wrong !!");
		},
		
	});
	  }
       </script>
       
     </div>
   </section>
   </body>   
 
</html>

